@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer{
  height: 20px;
  display: flex;
  flex-direction: row;
  background-color: #ddd;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color: white;
}

ul{
  display: flex;
  flex: initial;
  gap: 5px;
  padding: 0px 10px;
  margin: auto 0px;
}

li{
  list-style-type: none;
  flex: initial;
}

a{
  text-decoration: none;
  color: gray;
  font-size: 10px;
}

img {
  width: 400px;
  flex: initial;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 300px;
  flex: auto;
}

.buttons{
  display: flex;
  gap: 5px;
  flex: initial;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 5px 24px;
  width: 400px;
  height: 10px;
  flex: auto;
}
